.tool-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
  }
  .hero-container > h1 {
    color: #050404;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .tool-text {
    margin-bottom: 20px;
  }
  
  .tool-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .tool-text p {
    font-size: 1.2em;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .tool-images {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
  }
  
  .tool-image {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease-in-out;
  }
  
  .tool-image:hover {
    transform: scale(1.5);
  }
  
  .tool-creator {
    position: absolute;
    bottom: 22px;
    left: 20px;
    font-size: 1em;
    color: #3f3e3e;
  }

  .tool-link {
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: 1em;
    color: #3f3e3e;
  }
  .survey-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .info-bubble {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #7b7474;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
  }
  
  .submit-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  /* Make sure the button is responsive */
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Expand button to fit the container */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive design: Make form elements stack on smaller screens */
  
  